:root {
  --background-color-light: #4f5b66; /* Light grey-blue background */
  --background-color-lighter: #65737e; /* Slightly darker grey-blue background */
  --background-color: #282c34; /* Dark background (kept as is) */
  --background-color-darker: #1b2229; /* Even darker grey background */

  --border-color: #61dafb; /* Light blue border */
  --border-color-dark: #333; /* Dark grey border */
  --text-color-primary: #61dafb; /* Light blue text */
  --text-color-secondary: #ffffff; /* White text */
  --text-color-dark: #333; /* Dark grey text */
  --border-radius: 10px; /* Rounded corners */
}

.app-content {
  margin-top: 100px;
  background-color: var(--background-color-darker); /* Darker background color */
  width: 100%;
  min-height: calc(100vh - 100px); /* Subtract the height of the header */
  color: var(--text-color-secondary); /* White text color */
  font-family: Arial, sans-serif; /* Use a more readable font */
  padding: 30px 80px; /* Add some padding */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}