.backtesting {
    width: 100%;
    padding: 0 100px;
    box-sizing: border-box;
    background-color: var(--background-color-darker); // light grey background

    .backtesting-control {
        width: 100%;
        box-sizing: border-box;
        padding: 30px 100px;
        margin: 20px 0;
        color: var(--text-color-primary); 
        background-color: var(--background-color-light);
    }

    .backtesting-result {
        width: 100%;
        box-sizing: border-box;
        margin-top: 20px;
    }
}

.edit-backtesting-dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--background-color-light);
    border-radius: 5px;

    &-actions {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-top: 20px;

        button {
            margin-left: 10px;
        }
    }
}