.pair-groups {
    width: 100%;
    padding: 0 100px;
    box-sizing: border-box;
    background-color: var(--background-color-darker); // light grey background

    .pair-groups-control {
        width: 100%;
        box-sizing: border-box;
        padding: 30px 100px;
        margin: 20px 0;
        color: var(--text-color-primary); 
        background-color: var(--background-color-light);
    }

    .pair-groups-result {
        width: 100%;
        box-sizing: border-box;
        margin-top: 20px;
    }
}

.pair-group-editing-dialog {

    &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
}